dashscope==1.25.11
langchain==1.2.10
langchain_chroma==1.1.0
langchain_community==0.4.1
langchain_core==1.2.11
langchain_text_splitters==1.1.0
langgraph==1.0.8
openai==2.20.0
pypdf==6.6.2
PyYAML==6.0.3
streamlit==1.54.0
